In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re
from dateutil import parser
from datetime import datetime

# Scrape Car24.bg

In [2]:
strings = ['abarth', 'acura', 'alpina', 'audi', 
       'aston-martin','austin','alfa-romeo', 'bentley',
       'bertone', 'bugatti'
       'bmw', 'buick', 'cadillac',
       'chevrolet','chrysler','citroen', 
       'corvette', 'cupra', 'dacia','daewoo',
       'daihatsu','dodge', 
       'ds', 'dr', 'eagle',
        'ferrari','fiat', 'ford', 'fso', 'gaz',
       'gmc', 'gonow', 'great-wall',
       'haval', 'honda',
        'hyundai','hummer', 'ifa', 'infiniti','innocenti', 
       'isuzu','iveco', 'jaguar', 'jeep','kia',
        'lada','laforza','lamborghini','lancia',
       'land-rover','lotus',
        'lexus', 'lincoln', 'mahindra', 'maybach'
        'maserati', 'mazda','mclaren', 'mg',
        'mercedes-benz', 'mini',
        'mitsubishi', 'moskvich','oldsmobile',
        'nissan', 'opel', 
        'peugeot', 'porsche',
        'pontiac',
        'renault', 'rolls-royce',
        'rover', 'saab', 
        'seat', 'skoda',
        'ssang-yong','ssangyong','subaru','suzuki',
        'smart','tata','tazzari',
        'tesla', 'toyota', 'uaz',
        'trabant','volga','volvo', 'vw']

In [3]:
models = []
prices = []
years = []
kilometers = []
transmissions = []
engine_types = []
horsepowers = []

In [4]:
def scrape_current_page_Car24(): 
    for result in results:
        try:
            model = result.find("img")["alt"].replace("/ - [1]","")
            model = model.replace(' - [1]','')
            models.append(model.strip())
        except:
            models.append(np.nan)

        try:
            price = result.find("div",class_="title").find("span").text
            prices.append(price)
        except:
            prices.append(np.nan)

        try:
            year = result.find("div", class_= "data").text.split(" • ")[0].strip('\n')
            years.append(year.strip())
        except:
            years.append(np.nan)

        try:
            km = result.find("div", class_= "data").text.split(" • ")[1]
            kilometers.append(km.strip())
        except:
            kilometers.append(np.nan)

        try:
            engine_type = result.find("text").find(class_ = "info").text.split(", ")[0].replace("\n","")
            engine_types.append(engine_type.strip())
        except:
            engine_types.append(np.nan)

        try:
            horsepower = result.find("text").find(class_ = "info").text.split(", ")[1].replace(" к.с","")
            horsepowers.append(horsepower.strip())
        except:
            horsepowers.append(np.nan)

In [5]:
for string in strings:
    url = 'https://www.car24.bg/obiavi/' + string + '/page-1'
    count = 1
    while True:
       # Get URL
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        li_text = soup.find('li').text
        if 'Всички' in li_text:
            break
            
        # Results
        results = soup.findAll("item")
        if len(results) == 0:
            break
        scrape_current_page_Car24()
        count = count + 1
        next_url = 'https://www.car24.bg/obiavi/' + string + '/page-' + str(count)
        url = next_url

In [6]:
# create dataframe
df_auto = pd.DataFrame({'Model' : models,'Price': prices,'Year': years, 
                               'Kilometers' : kilometers,'Engine_type': engine_types,
                                'Horsepower': horsepowers})

In [7]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26070 entries, 0 to 26069
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Model        26070 non-null  object
 1   Price        26070 non-null  object
 2   Year         26070 non-null  object
 3   Kilometers   26070 non-null  object
 4   Engine_type  26070 non-null  object
 5   Horsepower   26070 non-null  object
dtypes: object(6)
memory usage: 1.2+ MB

In [8]:
df_auto.head(10)

,Model,Price,Year,Kilometers,Engine_type,Horsepower
0,Abarth 124,250 000 лв.,февруари 2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45 800 лв.,юни 2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51 000 лв.,август 2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40 900 лв.,декември 2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32 500 лв.,август 2015,100 000 км,Бензинов двигател,278
5,Acura Mdx A-spec sh-awd 4x4,69 000 лв.,април 2019,62 000 км,Бензинов двигател,290
6,Acura Tsx,400 000 лв.,Април 1940,900 000 км,Дизелов двигател,Ръчна ск.кутия
7,Acura Tsx,400 000 лв.,Април 1940,900 000 км,Дизелов двигател,Ръчна ск.кутия
8,Acura Tsx,400 000 лв.,Юни 1938,300 000 км,Електрически двигател,Полуавтоматична ск.кутия
9,Acura Slx,900 000 лв.,Януари 2021,900 000 км,Бензинов двигател,Ръчна ск.кутия

# Data Cleaning

In [9]:
# convert currencies
d = {'EUR': 1.95, 'USD': 1.90, 'лв.': 1}
s1 = df_auto['Price'].replace(d, regex=True)
s2 = df_auto['Price'].str.extract('(\d+\ \d*)',expand = False)
s2 = s2.str.replace(' ','')
s2 = s2.astype(float)
df_auto['Price BGN'] = s1 * s2 
df_auto.head()

,Model,Price,Year,Kilometers,Engine_type,Horsepower,Price BGN
0,Abarth 124,250 000 лв.,февруари 2020,11 111 км,Бензинов двигател,Автоматична ск.кутия,250000.0
1,Abarth 595,45 800 лв.,юни 2019,54 350 км,Бензинов двигател,181,45800.0
2,Abarth 595 TURISMO*500*PANORAMA,51 000 лв.,август 2021,8 200 км,Бензинов двигател,165,51000.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40 900 лв.,декември 2017,48 000 км,Бензинов двигател,160,40900.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32 500 лв.,август 2015,100 000 км,Бензинов двигател,278,32500.0

In [10]:
del df_auto['Price']

In [11]:
df_auto = df_auto[['Model', 'Price BGN', 'Year', 'Kilometers', 'Engine_type', 'Horsepower']]
df_auto.head()

,Model,Price BGN,Year,Kilometers,Engine_type,Horsepower
0,Abarth 124,250000.0,февруари 2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45800.0,юни 2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,август 2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,декември 2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,август 2015,100 000 км,Бензинов двигател,278

In [12]:
df_auto.rename(columns={'Year':'Year Manifacture', 'Engine_type':'Engine Type'}, inplace=True)
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower
0,Abarth 124,250000.0,февруари 2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45800.0,юни 2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,август 2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,декември 2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,август 2015,100 000 км,Бензинов двигател,278

In [13]:
# replace blank spaces with np.nan and clean Year Manifacture
df_auto = df_auto.replace(r'^\s*$', np.nan, regex=True)
df_auto = df_auto.dropna(subset = ["Year Manifacture"])
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower
0,Abarth 124,250000.0,февруари 2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45800.0,юни 2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,август 2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,декември 2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,август 2015,100 000 км,Бензинов двигател,278

In [14]:
df_auto['Year Manifacture'].unique()

array(['февруари 2020', 'юни 2019', 'август 2021', 'декември 2017',
       'август 2015', 'април 2019', 'Април 1940', 'Юни 1938',
       'Януари 2021', 'април 2010', 'април 2015', 'януари 2013',
       'март 2019', 'юли 2011', 'септември 2013', 'септември 2012',
       'юли 2012', 'декември 2014', 'октомври 2012', 'март 2016',
       'януари 2016', 'януари 2017', 'януари 2008', 'февруари 2014',
       'февруари 2017', 'юли 2014', 'октомври 2019', 'февруари 2018',
       'януари 2009', 'юни 2014', 'ноември 2020', 'май 2018',
       'декември 2013', 'юли 2008', 'септември 2005', 'май 2011',
       'ноември 2019', 'януари 2011', 'октомври 2016', 'декември 2019',
       'март 2011', 'април 2016', 'август 2010', 'юни 2008',
       'октомври 2010', 'април 2012', 'декември 2022', 'март 2002',
       'септември 2017', 'януари 2006', 'август 2008', 'ноември 2011',
       'септември 2008', 'септември 2009', 'юни 2010', 'ноември 2018',
       'март 2009', 'декември 2008', 'октомври 2013', 'април 2014',
       'септември 2006', 'април 2011', 'март 2010', 'април 2008',
       'януари 2012', 'февруари 2021', 'юли 2006', 'септември 2014',
       'януари 2018', 'август 2012', 'ноември 2013', 'юни 2022',
       'август 2017', 'декември 2009', 'юни 2005', 'февруари 2009',
       'октомври 2015', 'юни 2012', 'юни 2016', 'октомври 2018',
       'юли 2010', 'септември 2007', 'ноември 2008', 'януари 2015',
       'юни 2009', 'май 2012', 'юни 2021', 'декември 2016', 'май 2016',
       'септември 2015', 'февруари 2013', 'януари 2019', 'ноември 2004',
       'януари 2022', 'ноември 2007', 'октомври 2011', 'февруари 2011',
       'юни 2018', 'февруари 2019', 'май 1999', 'декември 2011',
       'март 2017', 'юни 2011', 'ноември 2012', 'септември 2010',
       'май 2010', 'декември 2010', 'февруари 2016', 'март 2015',
       'февруари 2006', 'август 2011', 'ноември 2010', 'януари 2021',
       'август 2016', 'декември 2018', 'юни 2015', 'юли 2019',
       'март 2012', 'януари 2010', 'април 2006', 'юли 2007',
       'септември 2016', 'април 2017', 'април 2013', 'октомври 2017',
       'август 2014', 'август 2018', 'май 2009', 'юли 2016', 'март 2007',
       'февруари 2010', 'февруари 2012', 'февруари 2008', 'ноември 2015',
       'януари 2005', 'октомври 2009', 'ноември 2009', 'юни 2007',
       'август 2006', 'септември 2020', 'октомври 2006', 'март 2004',
       'ноември 2006', 'август 2001', 'декември 2006', 'декември 2007',
       'май 2005', 'юни 2013', 'декември 2015', 'септември 2019',
       'февруари 2007', 'октомври 2002', 'юли 2003', 'март 2020',
       'май 2021', 'септември 2021', 'септември 2022', 'март 2021',
       'юли 2022', 'април 2021', 'декември 2021', 'март 2022', 'юли 2021',
       'октомври 2021', 'август 2022', 'август 2009', 'февруари 2022',
       'юни 1999', 'април 2009', 'юли 2017', 'октомври 2008',
       'февруари 2015', 'януари 2007', 'април 2007', 'януари 2003',
       'януари 2004', 'юли 2004', 'октомври 2007', 'август 2007',
       'септември 2003', 'януари 2001', 'август 2003', 'декември 2003',
       'май 2008', 'юли 2005', 'декември 2004', 'септември 2004',
       'декември 2012', 'август 2005', 'ноември 2001', 'март 2013',
       'Септември 2009', 'август 2002', 'август 2000', 'май 1998',
       'февруари 2005', 'Септември 2014', 'май 2007', 'септември 2000',
       'септември 1999', 'октомври 2003', 'март 2001', 'април 2004',
       'ноември 2005', 'август 2020', 'юли 1999', 'март 2008',
       'ноември 2016', 'юли 2009', 'юни 2006', 'октомври 2020',
       'март 2018', 'март 2006', 'юли 2020', 'юни 2002', 'юни 2000',
       'ноември 2017', 'май 2013', 'януари 2014', 'декември 2005',
       'юни 2017', 'март 2003', 'ноември 2014', 'май 2019', 'юни 1988',
       'октомври 2005', 'август 2004', 'октомври 2004', 'януари 2002',
       'май 1997', 'май 2001', 'май 2006', 'декември 2001', 'май 2022',
       'февруари 1998', 'Януари 2005', 'януари 2020', 'януари 2000',
       'май 2003', 'май 2017', 'април 2005', 'октомври 2000',
       'февруари 2001', 'февруари 2002', 'март 2005', 'юли 2013',
       'юли 2000', 'септември 2011', 'октомври 2022', 'декември 2002',
       'май 2014', 'май 2004', 'април 2003', 'април 1999', 'юни 2004',
       'ноември 1999', 'август 1995', 'октомври 2001', 'септември 2002',
       'октомври 1999', 'февруари 2004', 'юни 2001', 'юни 2003',
       'юни 1997', 'ноември 1997', 'август 2013', 'август 2019',
       'ноември 2022', 'април 2022', 'юли 1977', 'май 1966', 'юли 2001',
       'април 1985', 'юли 2002', 'Август 2009', 'април 2001', 'май 2015',
       'декември 1997', 'март 2000', 'ноември 2003', 'април 2002',
       'юни 1998', 'декември 2020', 'декември 1999', 'януари 1969',
       'януари 1958', 'януари 1966', 'април 2018', 'Януари 2000',
       'Юли 1996', 'юли 2018', 'септември 2018', 'Май 1990', 'Юли 1997',
       'Май 2006', 'Ноември 1997', 'Октомври 2006', 'октомври 1997',
       'април 1994', 'септември 2001', 'февруари 1999', 'ноември 1998',
       'януари 1999', 'април 2000', 'юли 1983', 'май 2020', 'април 1967',
       'ноември 2021', 'Април 2021', 'декември 1990', 'януари 1991',
       'януари 1997', 'май 1984', 'март 2014', 'юли 1980',
       'септември 1996', 'декември 1979', 'октомври 2014',
       'октомври 1974', 'ноември 1996', 'ноември 2000', 'Септември 2010',
       'август 1978', 'Август 2011', 'Април 2009', 'Декември 2011',
       'Юни 2006', 'януари 1993', 'Март 2007', 'Февруари 2004',
       'Май 2007', 'октомври 1994', 'октомври 1990', 'февруари 2003',
       'ноември 2002', 'април 1993', 'януари 1994', 'февруари 1997',
       'октомври 1998', 'август 1999', 'май 2002', 'Януари 2009',
       'Август 2000', 'Юли 1998', 'Декември 2007', 'Май 2001', 'Май 1994',
       'Февруари 1998', 'Септември 2002', 'май 2000', 'юни 1995',
       'септември 1998', 'ноември 1994', 'юли 2015', 'юни 1993',
       'Май 2000', 'Октомври 2009', 'декември 2000', 'април 1992',
       'април 2020', 'юни 2020', 'Април 2013', 'Април 2015', 'Юли 2013',
       'Декември 2009', 'Юли 2007', 'Ноември 2008', 'Март 2000',
       'март 1997', 'февруари 2000', 'юли 1998', 'август 1990',
       'юли 1997', 'август 1998', 'декември 1993', 'ноември 1992',
       'ноември 1990', 'ноември 1991', 'септември 1994', 'юни 1990',
       'Януари 2006', 'април 1998', 'май 1992', 'февруари 1993',
       'май 1993', 'март 1995', 'юли 1988', 'май 1995', 'март 1994',
       'май 1994', 'април 1997', 'март 1999', 'август 1966', 'Май 2014',
       'юли 1996', 'Януари 2002', 'септември 1992', 'юли 1978',
       'декември 1998', 'август 1997', 'септември 1997', 'юни 1978',
       'Март 1997', 'Март 2002', 'януари 1970', 'февруари 1972',
       'август 1980', 'април 1971', 'Януари 2004', 'януари 1992',
       'февруари 1977', 'юни 1981', 'Февруари 2007', 'Март 2012',
       'Май 2010', 'декември 1995', 'Януари 2008', 'Май 2004', 'юни 1994',
       'юли 1964', 'март 1998', 'март 1990', 'юли 1993', 'август 1987',
       'март 1979', 'септември 1993', 'Септември 2013', 'януари 1995',
       'февруари 1996', 'Декември 2002', 'октомври 1996', 'Март 2010',
       'октомври 1992', 'Юни 2015', 'Март 2018', 'юли 1991',
       'декември 1987', 'април 1995', 'Февруари 2009', 'май 1989',
       'Март 2005', 'януари 1989', 'септември 1995', 'Май 2016',
       'Август 2008', 'януари 1968', 'ноември 1995', 'октомври 1993',
       'Ноември 2007', 'Декември 1999', 'Септември 2004', 'март 1996',
       'август 1996', 'февруари 1995', 'април 1996', 'Октомври 2016',
       'Януари 2016', 'юли 1974', 'август 1989', 'май 1980', 'април 1982',
       'август 1988', 'август 1986', 'юни 1983', 'юни 1987',
       'септември 1989', 'май 1988', 'февруари 1984', 'юни 1974',
       'февруари 1987', 'март 1993', 'юни 1980', 'Август 1989',
       'Април 2002', 'Декември 1993', 'октомври 1988', 'август 1979',
       'юли 1990', 'юни 1970', 'февруари 1959', 'януари 1951',
       'Април 2000', 'Март 2003', 'Февруари 1997', 'Декември 1995',
       'август 1992', 'август 1993', 'август 1975', 'октомври 1995',
       'януари 1998', 'септември 1980', 'юни 1992', 'януари 1990',
       'Март 1999', 'септември 1991', 'септември 1983', 'Август 1999',
       'май 1991', 'май 1996', 'юни 1996', 'април 1989', 'Януари 2010',
       'Октомври 2019', 'Юли 2019', 'Юни 2011', 'юли 1995', 'юли 1971',
       'Октомври 2005', 'Октомври 1999', 'Април 2019', 'Август 2005',
       'Септември 2006', 'Януари 2001', 'май 1971', 'май 1977',
       'септември 1969', 'юли 1992', 'септември 1990', 'април 1962',
       'ноември 1978', 'декември 1958', 'Април 2005', 'Февруари 2003',
       'Декември 2021', 'Август 2001', 'февруари 1989', 'март 1992',
       'Юли 1999', 'ноември 1989', 'Декември 1998', 'Ноември 2006',
       'Ноември 1999', 'Септември 2005', 'Декември 2001', 'февруари 1994',
       'Май 1995', 'Ноември 2004', 'Октомври 2003', 'Август 2004',
       'Април 2004', 'август 1994', 'май 1990', 'март 1987', 'Март 1978',
       'декември 1976', 'юни 1975', 'юли 1989', 'декември 1996',
       'януари 1996', 'Април 2014', 'юни 1991', 'юни 1960',
       'ноември 1986', 'октомври 1991', 'Януари 2011', 'юли 1984',
       'Юли 2018', 'януари 1971', 'Август 1996', 'Февруари 2001',
       'Април 2007', 'Ноември 1996', 'Юли 2011', 'Февруари 2006',
       'Юни 2002', 'август 1991', 'декември 1994', 'Септември 2008',
       'Ноември 2013', 'Ноември 2005', 'Юни 2005', 'януари 1988',
       'ноември 1993', 'Декември 2006', 'Септември 2000', 'февруари 1992',
       'Февруари 2010', 'Октомври 1994', 'август 1985', 'Юни 2007',
       'Декември 2017', 'Юни 1998', 'Април 1997', 'Януари 2007',
       'Май 2018', 'Април 1994', 'февруари 1991', 'Август 2006',
       'април 1991', 'април 1987', 'Септември 2020', 'Януари 2020',
       'юли 1987', 'януари 1980', 'ноември 1969', 'септември 1988',
       'Март 2006', 'април 1990', 'Май 1989', 'януари 1985', 'април 1970',
       'Май 2002', 'Юни 2017', 'септември 1973'], dtype=object)

In [15]:
# extract years from "Year Manifacture" 
df_auto['Year Manifacture'] = df_auto['Year Manifacture'].str.extract(r'(\d+)',expand = False)

In [16]:
# get only notna values
df_auto = df_auto[df_auto['Year Manifacture'].notna()]

In [17]:
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278

In [18]:
df_auto["Year Manifacture_new"] = df_auto["Year Manifacture"].apply(lambda row: f'12/31/{row}')
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower,Year Manifacture_new
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия,12/31/2020
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181,12/31/2019
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165,12/31/2021
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160,12/31/2017
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278,12/31/2015

In [19]:
# parce into DateTime
df_auto["Year Manifacture_new"] = [parser.parse(str(x)) for x in df_auto["Year Manifacture_new"]]
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower,Year Manifacture_new
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия,2020-12-31
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181,2019-12-31
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165,2021-12-31
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160,2017-12-31
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278,2015-12-31

In [20]:
# extract "year" from Series
df_auto['Year Manifacture_t'] = df_auto['Year Manifacture_new'].dt.year
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower,Year Manifacture_new,Year Manifacture_t
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия,2020-12-31,2020
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181,2019-12-31,2019
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165,2021-12-31,2021
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160,2017-12-31,2017
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278,2015-12-31,2015

In [21]:
del df_auto['Year Manifacture']
del df_auto['Year Manifacture_new']

In [22]:
df_auto.rename(columns={'Year Manifacture_t' : 'Year Manifacture'}, inplace=True)
df_auto.head()

,Model,Price BGN,Kilometers,Engine Type,Horsepower,Year Manifacture
0,Abarth 124,250000.0,11 111 км,Бензинов двигател,Автоматична ск.кутия,2020
1,Abarth 595,45800.0,54 350 км,Бензинов двигател,181,2019
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,8 200 км,Бензинов двигател,165,2021
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,48 000 км,Бензинов двигател,160,2017
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,100 000 км,Бензинов двигател,278,2015

In [23]:
df_auto = df_auto[['Model', 'Price BGN', 'Year Manifacture', 'Kilometers', 'Engine Type', 'Horsepower']]
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278

In [24]:
df_auto['Kilometers'].unique()

array(['11 111 км', '54 350 км', '8 200 км', ..., '209 870 км',
       '177 850 км', '298 751 км'], dtype=object)

In [25]:
df_auto['Kilometers_test'] = df_auto['Kilometers'].str.extract('(\d+\ \d*)', expand=False)
df_auto['Kilometers_test'] = pd.to_numeric(df_auto['Kilometers_test'].str.replace(" ", ""),errors = 'coerce')
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower,Kilometers_test
0,Abarth 124,250000.0,2020,11 111 км,Бензинов двигател,Автоматична ск.кутия,11111.0
1,Abarth 595,45800.0,2019,54 350 км,Бензинов двигател,181,54350.0
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8 200 км,Бензинов двигател,165,8200.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48 000 км,Бензинов двигател,160,48000.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100 000 км,Бензинов двигател,278,100000.0

In [26]:
df_auto['Kilometers'] = df_auto['Kilometers_test']
del df_auto['Kilometers_test']

In [27]:
df_auto['Horsepower'].unique()

array(['Автоматична ск.кутия', '181', '165', '160', '278', '290',
       'Ръчна ск.кутия', 'Полуавтоматична ск.кутия', '400', '600', '177',
       '190', '239', '313', '245', '150', '272', '320', '122', '252',
       '143', '204', '435', '299', '354', '326', '233', '351', '230',
       '300', '258', '340', '180', '116', '140', '232', '350', '170',
       '286', '209', '371', '224', '450', '385', '265', '520', '211',
       '507', '560', '250', '610', '333', '200', '344', '420', '218',
       '110', '105', '510', '163', '310', '390', '240', '605', '124',
       '285', '131', '571', '11', '101', '335', '115', '155', '380',
       '102', '341', '275', '75', '223', '229', '125', '120', '90', '427',
       '255', '220', '408', '231', '130', '256', '270', '282', '225',
       '500', '95', '74', '360', '193', '353', '136', '365', '334', '570',
       '251', '106', '260', '517', '542', '707', '551', '725', '534',
       '550', '639', '132', '210', '175', '185', '135', '166', '78',
       '126', '80', '235', '103', '77', '85', '119', '96', '241', '280',
       '69', '144', '81', '88', '635', '549', '659', '630', '575', '455',
       '662', '528', '505', '567', '626', '449', '625', '608', '650',
       '632', '715', '452', '314', '311', '409', '410', '296', '205',
       '306', '276', '426', '392', '137', '312', '184', '94', '84', '141',
       '52', '72', '65', '68', '183', '108', '60', '46', '100', '152',
       '113', '273', '167', '186', '157', '109', '430', '86', '156',
       '319', '82', '121', '315', '66', '123', '70', '512', '50', '309',
       '151', '59', '98', '323', '490', '142', '496', '466', '461', '51',
       '55', '401', '305', '325', '271', '328', '83', '355', '304', '67',
       '291', '179', '174', '147', '254', '287', '338', '217', '249',
       '257', '428', '203', '112', '99', '92', '73', '114', '97', '128',
       '133', '107', '93', '127', '138', '134', '54', '158', '111', '45',
       '87', '79', '91', '117', '89', '1', '40', '58', '56', '396', '345',
       '395', '242', '477', '485', '381', '492', '491', '711', '375',
       '481', '243', '301', '495', '303', '153', '370', '486', '689',
       '620', '999', '721', '460', '830', '631', '690', '720', '540',
       '741', '670', '800', '740', '799', '717', '656', '669', '118',
       '2100', '139', '63', '20', '1200', '25', '32', '182', '161', '145',
       '146', '266', '162', '414', '267', '213', '71', '12', '1111',
       '330', '171', '197', '416', '440', '384', '457', '277', '192',
       '189', '201', '159', '154', '248', '169', '148', '295', '164',
       '173', '188', '253', '195', '129', '202', '49', '236', '176',
       '104', '199', '64', '198', '187', '274', '62', '191', '322', '398',
       '329', '238', '316', '364', '405', '214', '343', '262', '307',
       '244', '363', '207', '196', '237', '222', '298', '468', '471',
       '284', '476', '208', '347', '172', '22', '264', '288', '710',
       '470', '357', '228', '2400', '178', '215', '149', '61', '294',
       '366', '580', '649', '640', '770', '780', '292', '525', '530',
       '349', '339', '404', '226', '297', '359', '386', '367', '417',
       '302', '219', '317', '194', '263', '227', '261', '585', '503',
       '469', '388', '597', '489', '612', '422', '557', '421', '523',
       '387', '577', '389', '279', '308', '268', '621', '511', '26',
       '1700', '168', '465', '206', '1136', '269', '234', '216', '1100',
       '57', '382', '441', '462', '246', '680', '519', '682', '581',
       '700', '480', '433', '761', '598', '521', '76', '563', '2000',
       '34', '212', '259', '356', '1997', '8', '41', '47', '30', '475',
       '772', '513', '514', '1020', '778', '415', '394', '1900'],
      dtype=object)

In [28]:
df_auto['Horsepower'] = pd.to_numeric(df_auto['Horsepower'],errors = 'coerce')
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Engine Type,Horsepower
0,Abarth 124,250000.0,2020,11111.0,Бензинов двигател,NaN
1,Abarth 595,45800.0,2019,54350.0,Бензинов двигател,181.0
2,Abarth 595 TURISMO*500*PANORAMA,51000.0,2021,8200.0,Бензинов двигател,165.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,40900.0,2017,48000.0,Бензинов двигател,160.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",32500.0,2015,100000.0,Бензинов двигател,278.0

In [29]:
currentYear = datetime.now().year
df_auto['Years Automobile'] = currentYear - df_auto['Year Manifacture']

In [30]:
# rearrange column indexes
df_auto = df_auto[['Model', 'Year Manifacture','Years Automobile', 'Price BGN', 'Kilometers', 
                   'Engine Type', 'Horsepower']]
df_auto.head()

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
0,Abarth 124,2020,2,250000.0,11111.0,Бензинов двигател,NaN
1,Abarth 595,2019,3,45800.0,54350.0,Бензинов двигател,181.0
2,Abarth 595 TURISMO*500*PANORAMA,2021,1,51000.0,8200.0,Бензинов двигател,165.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,2017,5,40900.0,48000.0,Бензинов двигател,160.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",2015,7,32500.0,100000.0,Бензинов двигател,278.0

# Data Filtering

In [31]:
df_auto =  df_auto.loc[(df_auto['Kilometers'] > 2000) ]
df_auto =  df_auto.loc[(df_auto['Years Automobile'] > 0)]              
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23998 entries, 0 to 26069
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Model             23998 non-null  object
 1   Year Manifacture  23998 non-null  int64
 2   Years Automobile  23998 non-null  int64
 3   Price BGN         23883 non-null  float64
 4   Kilometers        23998 non-null  float64
 5   Engine Type       23998 non-null  object
 6   Horsepower        20918 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.5+ MB

In [32]:
df_auto["Year Manifacture"].unique()

array([2020, 2019, 2021, 2017, 2015, 1940, 1938, 2010, 2013, 2011, 2012,
       2014, 2016, 2008, 2018, 2009, 2005, 2002, 2006, 2007, 2004, 1999,
       2001, 2003, 2000, 1998, 1988, 1997, 1995, 1977, 1966, 1985, 1969,
       1958, 1996, 1990, 1994, 1983, 1967, 1991, 1984, 1980, 1979, 1974,
       1993, 1992, 1978, 1970, 1972, 1971, 1964, 1987, 1989, 1968, 1982,
       1986, 1959, 1975, 1962, 1976, 1960, 1973], dtype=int64)

In [33]:
df_auto.head()

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
0,Abarth 124,2020,2,250000.0,11111.0,Бензинов двигател,NaN
1,Abarth 595,2019,3,45800.0,54350.0,Бензинов двигател,181.0
2,Abarth 595 TURISMO*500*PANORAMA,2021,1,51000.0,8200.0,Бензинов двигател,165.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,2017,5,40900.0,48000.0,Бензинов двигател,160.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",2015,7,32500.0,100000.0,Бензинов двигател,278.0

In [34]:
filter1 = df_auto['Engine Type'].isin(['Дизелов двигател'])
df_diesel = df_auto[filter1]
df_diesel

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
6,Acura Tsx,1940,82,400000.0,900000.0,Дизелов двигател,NaN
7,Acura Tsx,1940,82,400000.0,900000.0,Дизелов двигател,NaN
12,"Audi A5 2,0TDI177ksLEDEU5ВNAVISPORTBACKFACE5vrati",2013,9,26800.0,181000.0,Дизелов двигател,177.0
13,"Audi Q5 S-LINE*40 TDi-190ps 4x4 DSG*DISTRONIC,...",2019,3,69999.0,176000.0,Дизелов двигател,190.0
14,Audi Q5 S-LINE/F1/LED/NAVI/ TOP!!!СОБСТВЕН ЛИЗИНГ,2011,11,28000.0,190000.0,Дизелов двигател,239.0
...,...,...,...,...,...,...,...
26065,VW Amarok,2018,4,68200.0,85000.0,Дизелов двигател,258.0
26066,VW Touareg 3.0TDI,2014,8,30000.0,298751.0,Дизелов двигател,241.0
26067,VW Polo 1.6TDI EURO 5,2011,11,9300.0,191000.0,Дизелов двигател,90.0
26068,VW Touran *1.9 TDI* *101К.С. *ТОП* РЕГ. ОБСЛ.,2004,18,6700.0,219500.0,Дизелов двигател,101.0
26069,VW Touareg 4.2 TDI/LED/NAVI,2010,12,32500.0,179000.0,Дизелов двигател,340.0

In [35]:
filter2 = df_auto['Engine Type'].isin(['Бензинов двигател'])
df_gasoline = df_auto[filter2]
df_gasoline.head()

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
0,Abarth 124,2020,2,250000.0,11111.0,Бензинов двигател,NaN
1,Abarth 595,2019,3,45800.0,54350.0,Бензинов двигател,181.0
2,Abarth 595 TURISMO*500*PANORAMA,2021,1,51000.0,8200.0,Бензинов двигател,165.0
3,Abarth 595 500 PISTA 595 CABRIO NAVI EVRO 6B 4...,2017,5,40900.0,48000.0,Бензинов двигател,160.0
4,"Acura Rdx 3.5V6 4X4,ПЕРФЕКТЕН!",2015,7,32500.0,100000.0,Бензинов двигател,278.0

In [36]:
filter3 = df_auto['Engine Type'].isin(['Електрически двигател'])
df_electric = df_auto[filter3]
df_electric.head()

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
8,Acura Tsx,1938,84,400000.0,300000.0,Електрически двигател,NaN
36,Audi E-Tron Audi E-Tron Q4 50quattro sportback,2020,2,131700.0,13200.0,Електрически двигател,299.0
490,Audi Q4 35/ E-Tron/ MATRIX/ PANORAMA/ NAVI/ LA...,2021,1,109980.0,12500.0,Електрически двигател,170.0
493,Audi E-Tron SPORTBACK 55/ QUATTRO/ S-LINE/ 360...,2021,1,139980.0,23923.0,Електрически двигател,408.0
1821,Chevrolet Volt Десен волан,2012,10,19600.0,66000.0,Електрически двигател,151.0

In [37]:
filter4 = df_auto['Engine Type'].isin(['Хибриден двигател',
                                       'Plug-in хибрид двигател',
                                       'Plug-in хибрид'])
df_hybrid = df_auto[filter4]
df_hybrid.head()

,Model,Year Manifacture,Years Automobile,Price BGN,Kilometers,Engine Type,Horsepower
233,Audi Q7 3.0D E-TRON S-LINE,2016,6,79000.00,179000.0,Хибриден двигател,340.0
341,Audi Q5 2.0 TFSI Hybrid Quattro tiptronic S-LINE,2012,10,31500.00,147000.0,Хибриден двигател,211.0
362,Audi A6 HYBRID AUTOMATIC EURO 6D,2018,4,62500.00,223000.0,Хибриден двигател,204.0
1433,Bentley Bentayga HYBRID/ FIRST EDITION/ NAIM/ ...,2021,1,440661.00,27630.0,Хибриден двигател,449.0
1456,Bentley Bentayga FIRST EDITION,2021,1,448498.05,13000.0,Хибриден двигател,449.0

In [38]:
currentDay = datetime.now().day
currentMonth = datetime.now().month
currentYear = datetime.now().year
e ='%s.%s.%s'%(currentDay,currentMonth,currentYear)
file_name = 'car24.bg'
writer = pd.ExcelWriter(f'{file_name}{e}.xlsx', engine='openpyxl')
df_diesel.to_excel(writer, sheet_name='Diesel engines')
df_gasoline.to_excel(writer, sheet_name='Gasoline engines')
df_electric.to_excel(writer, sheet_name='Electric engines')
df_hybrid.to_excel(writer, sheet_name='Hybrid engines')
writer.save()